<h1 class="mb-1 restaurant-show-title">新增餐廳</h1>

<div class="container">

  <form action="/restaurants" method="POST" class="w-50 mx-auto mt-5">
    <div class="form-group">
      <label for="name"><i class="fas fa-home mr-2"></i>餐廳名稱</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="請輸入餐廳名稱" required />
    </div>

    <div class="form-group">
      <label for="name_en"><i class="fas fa-home mr-2"></i>餐廳名稱-English</label>
      <input type="text" class="form-control" id="name_en" name="name_en" placeholder="請輸入餐廳英文名稱" required />
    </div>

    <div class="form-group">
      <label for="category"><i class="fas fa-utensils mr-2"></i>餐點風格</label>
      <input type="text" class="form-control" id="category" name="category" placeholder="請輸入餐點風格" required />
    </div>

    <div class="form-group">
      <label for="image"><i class="fas fa-images mr-2"></i>照片集錦</label>
      <input type="url" class="form-control" id="image" name="image" placeholder="請輸入照片連結" required />
    </div>

    <div class="form-group">
      <label for="location"><i class="fas fa-map-signs mr-2"></i>地址</label>
      <input type="text" class="form-control" id="location" name="location" placeholder="請輸入餐廳地址" required />
    </div>

    <div class="form-group">
      <label for="phone"><i class="fas fa-phone-square mr-2"></i>餐廳電話</label>
      <input type="tel" class="form-control" id="phone" name="phone" placeholder="請輸入餐廳電話" required />
    </div>

    <div class="form-group">
      <label for="google_map"><i class="fas fa-map-marked-alt mr-2"></i>Google Maps</label>
      <input type="url" class="form-control" id="google_map" name="google_map" placeholder="請輸入google map網址" required />
    </div>

    <div class="form-group">
      <label for="rating"><i class="fas fa-star mr-2"></i>餐廳評價</label>
      <input type="number" class="form-control" id="rating" name="rating" min="1" max="5" step="0.1"
        placeholder="請輸入評分 1 ~ 5 分" required />
    </div>

    <div class="form-group">
      <label for="description"><i class="fas fa-pencil-alt mr-2"></i>餐廳描述</label>
      <textarea class="form-control" id="description" name="description" placeholder="請輸入餐廳描述" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">送出</button>
  </form>
</div>